@model GuestbookPost
@{
    ViewData["Title"] = "New Post";
    var isModal = Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest";
    string domainId = ViewContext.RouteData.Values["domainId"].ToString();

    if (isModal)
    {
        Layout = null;
    }
}

<h2>NewPost</h2>

@Html.EditorForModel()

@section Menu {
     @{
        ViewData["ActiveMenu"] = "workspace";
    }
    <partial name="_RaWorkspaceMenu" />
    <li class="nav-item workspace-nav-item"><a class="nav-link" asp-controller="Job" asp-action="List" asp-route-domainId="@domainId">All Jobs</a></li>
}

@section Scripts {
}